* {
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS',  'sans-serif';
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #222222;
    
}

header {
    background-color: black;
    padding: 20px;
    
}
h1 {
    display: inline-block;
    padding-top: 10px;
    vertical-align: top;
    
}

nav {
    display: inline-block;
    margin-right: 20px;
    float: right;
    padding-top: 20px;
}

nav ul li {
    display: inline-block;
    margin-left: 25px;
    vertical-align: middle;

}

nav a {
    color: #ffffff;
    text-decoration: none;
    font-size: 20px;
}

figcaption {
    font-size: 10px;
    text-align: center;
}

footer {
    text-align: center;
    background-color: #3b3838;
    padding-top: 10px;
    padding-bottom: 10px;
    
}

textarea {
    resize: none;

 }

 button {
     color: black;
 }
 
 #graphic {
     display: block;
     margin-left: auto;
     margin-right: auto;
     width: 60%;
     
 }

 .forms {

    margin-left: auto;
    margin-right: auto;
    width: 20%;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;

 }